header {
	@include box;
    background-position: center;
    background-image:url(../images/NOUT.svg);
    background-size: cover ;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 100vh;
    min-height: 667px;
    .nav__menu {
        height: 105px;
        background-color: rgba(106, 186, 253, 0.5);
        padding-top: 25px;
        @media (max-width:965px){   
                height: 100px;
            }
        @media all and (max-width:770px){
            background-color: rgba(106, 186, 253, 0.0);
        }
        .navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-left{
                display: flex;
                align-items: center;
                .logo{
                    display: block;
                    margin-right: 35px;
                    height: 60px;
                        img{
                            position: relative;
                        }
                }
                ul{
                display: flex;
                align-items: center;
                @media (max-width :770px){
                    display: none;
                }
                    li{  
                        padding-right: 2.3em;
                        @media all and (max-width:965px){  
                                padding-right: 30px;
                            } 
                        @media all and (max-width:895px){  
                                padding-right: 10px;
                        }
                        a{
                            font-family: 'Abhaya Libre';
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 137%;
                            color: #0B1142;
                            transition-duration: 0.2s;
                            white-space: nowrap;
                            &:hover{
                            transition-duration: 0.2s;
                            color: rgba(240, 242, 255, 1);
                            @media (max-width:770px) {
                                &:hover{
                                    display: none;
                                }
                                
                            }
                        }  
                    }
                    }
                    .nav-none{
                        display: none;
                    }
                    .nav-yes{
                        display: block;
                        margin-bottom: 5px;
                    }
                    .disappear{
                        @media (max-width:770px){
                            display: none;
                        }
                    }
                }
                .active-menu{
                    display: none;
                    @media (max-width:770px){
                    display: flex;
                    flex-direction: column;
                    position:absolute;
                    top: 35px;right:11px;
                    background-color: #F0F2FF;
                    padding: 20px;
                    border-radius: 10px;
                }  
                }
            }
            .burger-menu{
                display: none;
                position: relative; 
                height: 35px;
                width: 25px;
                top: 0;
                right: 0;
                margin-right: 10px;
                @media(max-width:770px){
                    display:block;
                    cursor: pointer;
                    z-index: 3;
                }
                .burger{
                    position: absolute;
                    background-color: rgba(11, 17, 66, 1);;
                    height: 2px;
                    width: 25px;
                    top: 11px;
                    right: 0;
                    transition: all .3s ease-in-out;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 8px;left: 0;
                        width: 25px;
                        height: 2px;
                        background-color: rgba(11, 17, 66, 1);;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: -8px;left: 0;
                        width: 25px;
                        height: 2px;
                        background-color: rgba(11, 17, 66, 1);;
            
                    }
                }
                .burger.cross{
                    
                    transform: rotate(135deg);
                    &:after {
                        transform: rotate(-45deg);
                        top: -7px;
                        opacity: 0;
                    }
                    &:before {
                        transform: rotate(270deg);
                        top: -0px;
                    }
                }
            }
            .connection {
                display: flex;
                align-items: center;
                .tel__contact {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    a{
                    font-family: 'Roboto';
                    font-size: 22px;
                    color: #0B1142;
                    font-weight: 500;
                    line-height: 137%;
                    white-space: nowrap;
                    }
                }
                .icon__tel {
                    margin-left: 28px;
                }
                @media all and (max-width:770px){
                    display: none;
                }
            }
        }
    }
    .principal__title {
        margin-top: 220px;
        padding: 0px;
        float: right;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media all and (max-width:965px){
            margin-top: 200px;
            }
        @media all and (max-width:770px){
            margin-top: 100px;
            float: none;
            text-align: center;
            max-width: none;
        }    
        .title_page{
            display: flex;
            flex-direction: column;
            align-items: center;
            @media all and (max-width:770px){
            display: flex;
            flex-direction: column;
            align-items: center;
            }
            h2{
                font-family: 'Open sans';
                font-weight: 400;
                font-size: 45px;
                line-height: 136.97%;
                text-align: center;
                @media all and (max-width:770px){
                    font-weight: 400;
                    font-size: 30px;
                    width: 310px;
                }
                span{
                    @media all and (max-width:770px){
                    font-weight: 600;
                    font-size: 30px;
                    }
                    font-weight: 600;
                    font-size: 45px; 
                }
            }
            .button__page {
                text-align: center;
                margin-top: 55px;
                width: 100%;
                a{
                    padding: 15px 70px;
                    background-color: #6ABAFD;
                    border-radius: 50px;
                    font-family: 'Abhaya Libre';
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 34px;
                    width: 370px;
                    color: #F0F2FF;
                    transition-duration: 0.5s;
                    @media all and (max-width:770px){
                        width: 173px;
                        height: 33.92px;
                        padding: 10px 20px;
                        font-size: 14px;
                   }
                   &:hover{
                    background-color: #37a5ff;
                    transition-duration: 0.5s;
                }
                }
               
            }
            }
    }
}



